/*['#66cc70', '#73c6e5', '#e573b6', '#e5e073', '#e5ac73']*/
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: white;
  color: rgb(72, 72, 72);
}

main {
  min-height: 100vh;
  text-align: center;
}

footer {
  text-align: right;
  padding-bottom: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #0072bc;
}

h1 {
  margin-top: 25vh;
}

a {
  color: #3F94FF;
}

a:hover {
  color: #117CF2;
  text-decoration: none;
}

#draw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  url(../images/working.png) no-repeat center center;
  background-size: cover;
}

#hero {
  background: #727272;
  color: #fff;
}

#hero .signup-link {
  color: #3F94FF;
  background-color: #fff;
}

#hero .signup-link:hover {
  color: #fff;
  background-color: #117CF2;
}

.jumbotron {
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid #efefef;
}

.container {
  position: relative;
}

#signup {
  margin-top: 45px;
}

.signup-link {
  background-color: #3F94FF;
  color: #fff;
  padding: 12px 24px;
  font-weight: lighter;
}

.signup-link:hover {
  color: #fff;
  background-color: #117CF2;
}


#pricing {
  text-align: center;
}

#pricing h2 {
  margin-top: 0;
}

#pricing .plan {
  margin-top: 36px;
  margin-bottom: 36px;
}

#pricing .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

#pricing ul.details {
  list-style: none;
  margin: 0 0 24px 0;
  padding: 0;
}

#pricing .free {
  margin-top: 24px;
}

img {
  height: 60px;
  display: block;
}

#features {
  padding-top: 45px;
}

#features .feature {
  clear: both;
  padding-top: 15px;
}

#features img {
  float: left;
  height: 60px;
  margin: 0 30px 30px 0;
}

#info img {
  margin: 35px 30px 30px 0;
  float: left;
}

#pricing img {
  margin: 0 auto;
}